@{
    ViewData["Title"] = "Panel administratora";
}
<h2>Panel administratora</h2>
<ul class="list-unstyled">
    <li>
        <a class="btn btn-primary my-2" asp-controller="Admin" asp-action="ManageUsers">Zarządzaj użytkownikami</a>
    </li>
    <li>
        <a class="btn btn-primary my-2" asp-controller="Admin" asp-action="ManageBooks">Zarządzaj książkami</a>
    </li>
</ul>